/* Fonts start */
@font-face {
  font-family: 'solomon';
  src: url('../fonts/solomon_sans_bold-s.eot');
  src: url('../fonts/solomon_sans_bold-s.eot?#iefix') format('embedded-opentype'), url('../fonts/solomon_sans_bold-s.woff2') format('woff2'), url('../fonts/solomon_sans_bold-s.woff') format('woff'), url('../fonts/solomon_sans_bold-s.ttf') format('truetype'), url('../fonts/solomon_sans_bold-s.svg#solomon_sans_boldbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'solomon';
  src: url('../fonts/solomon_sans_book-s.eot');
  src: url('../fonts/solomon_sans_book-s.eot?#iefix') format('embedded-opentype'), url('../fonts/solomon_sans_book-s.woff2') format('woff2'), url('../fonts/solomon_sans_book-s.woff') format('woff'), url('../fonts/solomon_sans_book-s.ttf') format('truetype'), url('../fonts/solomon_sans_book-s.svg#solomon_sans_bookregular') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'solomon';
  src: url('../fonts/solomon_sans_normal_italic-s.eot');
  src: url('../fonts/solomon_sans_normal_italic-s.eot?#iefix') format('embedded-opentype'), url('../fonts/solomon_sans_normal_italic-s.woff2') format('woff2'), url('../fonts/solomon_sans_normal_italic-s.woff') format('woff'), url('../fonts/solomon_sans_normal_italic-s.ttf') format('truetype'), url('../fonts/solomon_sans_normal_italic-s.svg#solomon_sans_normal_italicRg') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'solomon';
  src: url('../fonts/solomon_sans_normal-s.eot');
  src: url('../fonts/solomon_sans_normal-s.eot?#iefix') format('embedded-opentype'), url('../fonts/solomon_sans_normal-s.woff2') format('woff2'), url('../fonts/solomon_sans_normal-s.woff') format('woff'), url('../fonts/solomon_sans_normal-s.ttf') format('truetype'), url('../fonts/solomon_sans_normal-s.svg#solomon_sans_normalregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'solomon';
  src: url('../fonts/solomon_sans_light-webfont.eot');
  src: url('../fonts/solomon_sans_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/solomon_sans_light-webfont.woff2') format('woff2'), url('../fonts/solomon_sans_light-webfont.woff') format('woff'), url('../fonts/solomon_sans_light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'solomon_sans_semiboldregular';
  src: url('../fonts/solomon_sans_semibold-webfont.eot');
  src: url('../fonts/solomon_sans_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/solomon_sans_semibold-webfont.woff2') format('woff2'), url('../fonts/solomon_sans_semibold-webfont.woff') format('woff'), url('../fonts/solomon_sans_semibold-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
/* Fonts end */
/* Media queries start */
/* Media queries end */
/* Total style start */
body {
  font-family: 'solomon';
  font-weight: 400;
  color: #4a4748;
}
.red-btn {
  background: #9e1a33;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 21px;
  border-radius: 20px;
  display: inline-block;
  letter-spacing: 1px;
  border: none;
  line-height: 1.6;
}
.red-btn:hover,
.red-btn:focus {
  background: #CD3050;
  color: #fff;
  text-decoration: none;
}
.white-btn {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 16px;
  border-radius: 20px;
  display: inline-block;
  letter-spacing: 1px;
  box-sizing: border-box;
  line-height: 1.3;
}
.white-btn:hover,
.white-btn:focus {
  color: #fff;
  text-decoration: none;
}
.white-full-btn {
  background: #fff;
  color: #9e1a33;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 20px;
  display: inline-block;
  letter-spacing: 1px;
  box-sizing: border-box;
  border: none;
  line-height: 1.3;
}
.white-full-btn:hover,
.white-full-btn:focus {
  color: #9e1a33;
  text-decoration: none;
}
.gray-btn {
  background: transparent;
  border: 2px solid #4a4748;
  color: #4a4748;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 20px;
  display: inline-block;
  letter-spacing: 1px;
  box-sizing: border-box;
  line-height: 1.3;
}
.gray-btn:hover,
.gray-btn:focus {
  color: #4a4748;
  text-decoration: none;
}
.red-link {
  color: #cd3050;
  text-decoration: underline;
  font-weight: 600;
}
.red-link:hover,
.red-link:focus {
  text-decoration: none;
  color: #cd3050;
}
/* Total style end */
/* Header start */
.header {
  background: url('../images/header.png') no-repeat transparent;
  position: relative;
}
.header .container {
  position: relative;
}
.header .videobg {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header .videobg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .mobile-header {
  padding: 10px 16px;
  background: #fff;
  letter-spacing: -0.3em;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  z-index: 2;
  display: none;
}
@media (max-width: 767px) {
  .header .mobile-header {
    display: block;
  }
}
.header .mobile-header > div {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: normal;
}
.header .mobile-header .mobile-header-info {
  width: calc(100% - 46px);
}
.header .mobile-header .mobile-header-info a {
  margin-right: 20px;
}
.header .mobile-header .mobile-header-info a:last-child {
  margin-right: 0;
}
.header .mobile-header .mobile-header-info .language {
  font-size: 12px;
  opacity: 0.4;
  color: #4a4748;
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
}
.header .mobile-header .mobile-header-info .language:hover {
  text-decoration: none;
}
.header .mobile-header .mobile-header-info .btn-collapse-mob {
  display: inline-block;
  vertical-align: middle;
  opacity: .4;
}
.header .mobile-header .mobile-header-info .btn-collapse-mob.collapsed {
  opacity: 1;
}
.header .mobile-header .mobile-header-info .btn-collapse-mob i {
  font-size: 20px;
  color: #414141;
}
.header .mobile-header .mobile-header-info .btn-collapse-mob:hover,
.header .mobile-header .mobile-header-info .btn-collapse-mob:focus {
  outline: none;
  text-decoration: none;
}
.header .collapse-mobile {
  background: #fff;
}
.header .collapse-mobile .inside-collapse-mobile {
  padding: 10px 16px;
  background: #fff;
  position: relative;
  z-index: 2;
}
.header .collapse-mobile .inside-collapse-mobile:before {
  content: '';
  background: url('../images/mobile-menu-arrow.png') no-repeat transparent;
  width: 31px;
  height: 6px;
  position: absolute;
  top: -6px;
  right: 7px;
}
.header .collapse-mobile#phones-mobile .inside-collapse-mobile div {
  margin-bottom: 5px;
}
.header .collapse-mobile#phones-mobile .inside-collapse-mobile div:first-child a {
  letter-spacing: 0.5px;
}
.header .collapse-mobile#phones-mobile .inside-collapse-mobile div a {
  color: #4a4748;
  border-bottom: 1px dotted;
  margin-right: 10px;
}
.header .collapse-mobile#phones-mobile .inside-collapse-mobile div a:hover {
  text-decoration: none;
  border: none;
  color: #4a4748;
}
.header .collapse-mobile#phones-mobile .inside-collapse-mobile div span {
  opacity: .4;
}
.header .collapse-mobile#phones-mobile .inside-collapse-mobile div {
  margin-bottom: 5px;
}
.header .collapse-mobile#phones-mobile .inside-collapse-mobile div:first-child a {
  letter-spacing: 0.5px;
}
.header .collapse-mobile#phones-mobile .inside-collapse-mobile div a {
  color: #4a4748;
  border-bottom: 1px dotted;
  margin-right: 10px;
}
.header .collapse-mobile#phones-mobile .inside-collapse-mobile div a:hover {
  text-decoration: none;
  border: none;
  color: #4a4748;
}
.header .collapse-mobile#phones-mobile .inside-collapse-mobile div span {
  opacity: .4;
}
.header .collapse-mobile#menu-mobile .navbar {
  margin-bottom: 0;
}
.header .collapse-mobile#menu-mobile .navbar .navbar-nav li a {
  color: #4a4748;
  font-weight: 700;
  text-transform: uppercase;
}
.header .collapse-mobile#menu-mobile .navbar .navbar-nav li a i {
  margin-left: 10px;
}
.header .collapse-mobile#menu-mobile .navbar .navbar-nav li ul {
  list-style: none;
  display: none;
  padding: 0 16px;
}
.header .collapse-mobile#menu-mobile .navbar .navbar-nav li ul li {
  margin-bottom: 5px;
}
.header .collapse-mobile#menu-mobile .navbar .navbar-nav li ul li a {
  text-transform: none;
  font-weight: 600;
  font-size: 12px;
}
.header .collapse-mobile#menu-mobile .navbar .navbar-nav li ul li ul {
  list-style: none;
  display: none;
  padding: 0 16px;
}
.header .collapse-mobile#menu-mobile .red-btn {
  width: 100%;
  text-align: center;
  font-size: 13px;
}
.header .collapse-mobile .mobile-search {
  border-top: 1px solid #ececec;
  margin-top: 20px;
  padding: 10px 16px;
}
.header .collapse-mobile .mobile-search i {
  color: #c2c1c2;
  font-size: 16px;
}
.header .collapse-mobile .mobile-search form {
  display: inline-block;
  width: calc(100% - 19px);
  padding-left: 5px;
}
.header .collapse-mobile .mobile-search form input[type="text"] {
  width: calc(100% - 125px);
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 12px;
}
.header .collapse-mobile .mobile-search form input[type="text"]:focus {
  outline: none;
}
.header .collapse-mobile .mobile-search form .gray-btn {
  opacity: 0.4;
  font-size: 12px;
}
.header .collapse-mobile .mobile-search form .gray-btn.active {
  opacity: 1;
}
.header .language {
  padding: 10px 20px;
}
.header .language a {
  font-size: 12px;
  color: #fff;
  text-decoration: underline;
  font-weight: 400;
}
.header .language a:hover {
  text-decoration: none;
}
.header .info-block {
  letter-spacing: -0.3em;
  background: #fff;
  padding: 0px 20px;
  position: relative;
}
.header .info-block > div {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
}
.header .info-block .menu-and-callback {
  width: calc(100% - 152px);
  padding-top: 12px;
}
.header .info-block .menu-and-callback .callback-block {
  letter-spacing: -0.3em;
}
.header .info-block .menu-and-callback .callback-block > div {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: normal;
}
.header .info-block .menu-and-callback .callback-block .phones {
  text-align: left;
  margin-right: 20px;
}
.header .info-block .menu-and-callback .callback-block .phones a {
  display: block;
  font-weight: 600;
  color: #4a4748;
}
.header .info-block .menu-and-callback .callback-block .phones a:first-child {
  letter-spacing: 0.6px;
}
.header .info-block .menu-and-callback .callback-block .red-btn {
  line-height: 1.3;
}
.header .info-block .menu-block nav.navbar {
  margin-bottom: 0;
  border: none;
  position: static;
}
.header .info-block .menu-block .navbar-nav {
  float: right;
}
.header .info-block .menu-block .navbar-nav li {
  margin-right: 20px;
  position: static;
}
.header .info-block .menu-block .navbar-nav li:last-child {
  margin-right: 0;
}
.header .info-block .menu-block .navbar-nav li.active a {
  color: #9e1a33;
  border-bottom: 2px solid #9e1a33;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header .info-block .menu-block .navbar-nav li {
    margin-right: 15px;
  }
}
.header .info-block .menu-block .navbar-nav li a {
  padding-top: 0px;
  padding-bottom: 0;
  padding: 14px 0;
  font-size: 12px;
  font-weight: 700;
  color: #4a4748;
  text-transform: uppercase;
}
.header .info-block .menu-block .navbar-nav li a:hover,
.header .info-block .menu-block .navbar-nav li a:focus {
  background: none;
  opacity: 0.3;
}
.header .info-block #submenu {
  position: absolute;
  width: 100%;
  background: #f6f6f6;
  padding: 30px 20px 40px;
  left: 0;
  display: none;
  z-index: 1;
}
.header .info-block #submenu > div {
  padding-left: 20px;
  padding-right: 20px;
}
.header .info-block #submenu.in {
  display: block;
}
.header .info-block #submenu .title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  color: #4a4748;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.header .info-block #submenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .info-block #submenu ul li a {
  text-decoration: underline;
  line-height: 1.3;
  color: #4a4748;
  font-weight: 600;
  padding: 5px 0;
  display: block;
}
.header .info-block #submenu ul li a:hover,
.header .info-block #submenu ul li a:focus {
  color: #4a4748;
  text-decoration: none;
  background: none;
  outline: none;
}
.header .info-block #searchCollapse {
  background: #f6f6f6;
  padding: 18px;
  position: absolute;
  width: 100%;
  left: 0;
  display: none;
  z-index: 1;
}
.header .info-block #searchCollapse.in {
  display: block;
}
.header .info-block #searchCollapse i {
  color: #c2c1c2;
  font-size: 18px;
}
.header .info-block #searchCollapse form {
  display: inline-block;
  width: calc(100% - 21px);
  padding-left: 20px;
}
.header .info-block #searchCollapse form input[type="text"] {
  width: calc(100% - 125px);
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 17px;
}
.header .info-block #searchCollapse form input[type="text"]:focus {
  outline: none;
}
.header .info-block #searchCollapse form .gray-btn {
  opacity: 0.4;
}
.header .info-block #searchCollapse form .gray-btn.active {
  opacity: 1;
}
.header .header-tagline {
  padding: 120px 0 120px 40%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header .header-tagline {
    padding: 60px 0 60px 0;
  }
}
@media (max-width: 767px) {
  .header .header-tagline {
    padding: 50px 0;
  }
}
.header .header-tagline .big {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 767px) {
  .header .header-tagline .big {
    font-size: 22px;
  }
}
.header .header-tagline .small {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  color: #ffffff;
}
@media (max-width: 767px) {
  .header .header-tagline .small {
    font-size: 18px;
  }
}
.header .header-tagline .small a {
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
}
.header .second-menu.empty {
  padding: 30px 0;
}
.header .second-menu nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .second-menu nav ul li {
  display: inline-block;
  vertical-align: middle;
}
.header .second-menu nav ul li a {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.8;
  padding: 30px 20px;
  display: block;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header .second-menu nav ul li a {
    font-size: 11px;
    padding: 20px 10px;
  }
}
.header .second-menu nav ul li a.active {
  opacity: 1;
}
.header .second-menu nav ul li a:hover,
.header .second-menu nav ul li a:focus {
  background: none;
  text-decoration: none;
  outline: none;
  opacity: 1;
}
/* Header end */
/* Wrapper start */
.wrapper {
  position: relative;
}
.wrapper .dark-open-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #000;
  opacity: .5;
  display: none;
}
@media (max-width: 767px) {
  .wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.wrapper .breadcrumb {
  background: none;
  margin-bottom: 0;
  padding: 25px 20px;
  color: #c4c2c3;
}
@media (max-width: 767px) {
  .wrapper .breadcrumb {
    padding: 16px;
  }
}
.wrapper .breadcrumb a {
  color: #c4c2c3;
  text-decoration: underline;
  font-weight: 600;
}
.wrapper .breadcrumb a:hover,
.wrapper .breadcrumb a:focus {
  color: #c4c2c3;
  outline: none;
  text-decoration: none;
}
.wrapper .title h1 {
  margin: 0 20px 35px 20px;
  padding: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  color: #4a4748;
}
@media (max-width: 767px) {
  .wrapper .title h1 {
    padding: 0 16px;
    font-size: 30px;
    margin: 0 0 20px;
  }
}
.wrapper .quote {
  font-size: 17px;
  line-height: 1.5;
  color: #4a4748;
  margin-bottom: 25px;
  padding: 0 15% 0 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper .quote {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .wrapper .quote {
    padding-right: 0;
    font-size: 14px;
    padding: 0 16px;
  }
}
.wrapper .dropdown button {
  border: 1px solid #e1e0e0;
  background: transparent;
  color: #4a4748;
  padding: 9px 50px 9px 20px;
  border-radius: 25px;
  position: relative;
}
.wrapper .dropdown button:hover,
.wrapper .dropdown button:focus {
  outline: none;
}
.wrapper .dropdown button i {
  position: absolute;
  right: 15px;
  font-size: 16px;
  top: 50%;
  margin-top: -8px;
}
@media (max-width: 767px) {
  .wrapper .dropdown button {
    width: 100%;
    border: none;
    text-align: left;
  }
}
.wrapper .dropdown.open button i {
  transform: rotate(180deg);
}
.wrapper .dropdown .dropdown-menu {
  min-width: 220px;
  max-height: 250px;
  overflow-y: auto;
  border: none;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.17);
  border-radius: 0;
}
@media (max-width: 767px) {
  .wrapper .dropdown .dropdown-menu {
    min-width: 100%;
  }
}
.wrapper .dropdown .dropdown-menu li a {
  color: #4a4748;
  padding: 5px 20px;
}
.wrapper .dropdown .dropdown-menu li a:hover,
.wrapper .dropdown .dropdown-menu li a:focus {
  outline: none;
  background-color: #f6f6f6;
}
.wrapper .blog-page {
  letter-spacing: -0.3em;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .wrapper .blog-page {
    margin-bottom: 30px;
  }
}
.wrapper .blog-page > div {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
.wrapper .blog-page .blog-filter {
  display: none;
}
@media (max-width: 767px) {
  .wrapper .blog-page .blog-filter {
    display: block;
    padding: 0 16px 25px;
  }
  .wrapper .blog-page .blog-filter .dropdown button {
    border: 1px solid #e1e0e0;
  }
}
.wrapper .blog-page .blog-left {
  width: 67.5%;
  padding: 0 4.5% 0 20px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .wrapper .blog-page .blog-left {
    width: 100%;
    padding: 0 16px;
  }
}
.wrapper .blog-page .blog-left .blog-item {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e0dfdf;
}
.wrapper .blog-page .blog-left .blog-item:last-child {
  border-bottom: none;
}
@media (max-width: 767px) {
  .wrapper .blog-page .blog-left .blog-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.wrapper .blog-page .blog-left .blog-item .blog-item-head .blog-item-head-avatar {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}
.wrapper .blog-page .blog-left .blog-item .blog-item-head .blog-item-head-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper .blog-page .blog-left .blog-item .blog-item-head .blog-item-head-name {
  color: #4a4748;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .wrapper .blog-page .blog-left .blog-item .blog-item-head .blog-item-head-name {
    font-size: 12px;
  }
}
.wrapper .blog-page .blog-left .blog-item .blog-item-head .blog-item-head-date {
  opacity: 0.4;
  color: #4a4748;
}
@media (max-width: 767px) {
  .wrapper .blog-page .blog-left .blog-item .blog-item-head .blog-item-head-date {
    font-size: 12px;
  }
}
.wrapper .blog-page .blog-left .blog-item .blog-item-body {
  margin-top: 26px;
}
@media (max-width: 767px) {
  .wrapper .blog-page .blog-left .blog-item .blog-item-body {
    margin-top: 15px;
  }
}
.wrapper .blog-page .blog-left .blog-item .blog-item-body .blog-item-body-img {
  margin-bottom: 25px;
}
.wrapper .blog-page .blog-left .blog-item .blog-item-body .blog-item-body-img img {
  width: 100%;
}
.wrapper .blog-page .blog-left .blog-item .blog-item-body .blog-item-body-title {
  padding: 0px 0 15px;
}
.wrapper .blog-page .blog-left .blog-item .blog-item-body .blog-item-body-title a {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  color: #4a4748;
}
@media (max-width: 767px) {
  .wrapper .blog-page .blog-left .blog-item .blog-item-body .blog-item-body-title a {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
  }
}
.wrapper .blog-page .blog-left .blog-item .blog-item-body .blog-item-body-title a:hover,
.wrapper .blog-page .blog-left .blog-item .blog-item-body .blog-item-body-title a:focus {
  outline: none;
  color: #cd3050;
  text-decoration: none;
}
.wrapper .blog-page .blog-left .blog-item .blog-item-body .blog-item-body-preview {
  font-size: 17px;
  line-height: 1.5;
  color: #4a4748;
  font-weight: 600;
}
.wrapper .blog-page .blog-left .blog-item .blog-item-tags {
  opacity: 0.4;
  line-height: 1.9;
  color: #4a4748;
  margin-top: 20px;
}
.wrapper .blog-page .blog-left .blog-item .blog-item-tags span {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .wrapper .blog-page .blog-left .blog-item .blog-item-tags {
    font-size: 12px;
    margin-top: 0;
  }
}
.wrapper .blog-page .blog-right {
  width: 32.5%;
}
.wrapper .blog-page .blog-right ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.wrapper .blog-page .blog-right ul li a {
  opacity: 0.4;
  font-size: 17px;
  line-height: 1.8;
  color: #4a4748;
}
.wrapper .blog-page .blog-right ul li a:hover,
.wrapper .blog-page .blog-right ul li a:focus {
  background: none;
  opacity: 1;
  text-decoration: none;
  outline: none;
}
.wrapper .filter-block {
  letter-spacing: -0.3em;
  margin-bottom: 40px;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .wrapper .filter-block {
    background: #f5f5f5;
    padding: 0;
  }
  .wrapper .filter-block .title {
    font-size: 14px;
    font-weight: 700;
    color: #4a4748;
    padding: 16px 16px 0 16px;
  }
}
.wrapper .filter-block > div {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .wrapper .filter-block > div {
    width: 100%;
  }
}
.wrapper .project-list {
  padding: 0 15% 0 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper .project-list {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .wrapper .project-list {
    padding: 0 16px;
    margin-bottom: 50px;
  }
}
.wrapper .project-list .project-item {
  border: 2px solid #dcdbdb;
  padding: 40px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper .project-list .project-item {
    padding: 20px 16px;
  }
}
.wrapper .project-list .project-item.active-item {
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
  border: none;
}
.wrapper .project-list .project-item .project-item-img,
.wrapper .project-list .project-item .project-item-text {
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .wrapper .project-list .project-item .project-item-img,
  .wrapper .project-list .project-item .project-item-text {
    display: block;
  }
}
.wrapper .project-list .project-item .project-item-img {
  width: 140px;
  padding-right: 40px;
  background-size: contain!important;
  border-right: 40px solid #fff;
  background-position: center!important;
}
@media (max-width: 767px) {
  .wrapper .project-list .project-item .project-item-img {
    width: 100%;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .wrapper .project-list .project-item .project-item-text {
    text-align: center;
  }
}
.wrapper .project-list .project-item .project-item-text .project-item-text-title {
  font-size: 22px;
  color: #4a4748;
}
@media (max-width: 767px) {
  .wrapper .project-list .project-item .project-item-text .project-item-text-title {
    font-size: 18px;
    text-align: center;
  }
}
.wrapper .project-list .project-item .project-item-text .project-item-text-tags {
  opacity: 0.4;
  font-size: 12px;
  color: #4a4748;
  text-transform: uppercase;
  padding: 10px 0;
}
@media (max-width: 767px) {
  .wrapper .project-list .project-item .project-item-text .project-item-text-tags {
    text-align: center;
  }
}
.wrapper .project-list .project-item .project-item-text .project-item-text-tags span {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .wrapper .project-list .project-item .project-item-text .project-item-text-tags span {
    display: block;
  }
}
.wrapper .project-list .project-item .project-item-text .project-item-text-preview {
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
}
@media (max-width: 767px) {
  .wrapper .project-list .project-item .project-item-text .project-item-text-preview {
    font-size: 14px;
    line-height: 23px;
  }
}
.wrapper .project-list .project-item .project-full-text {
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
}
@media (max-width: 767px) {
  .wrapper .project-list .project-item .project-full-text {
    font-size: 14px;
    line-height: 23px;
  }
}
.wrapper .project-list .project-item .project-full-text .inside-project-full-text {
  border-top: 1px solid #d8d8d8;
  padding-top: 40px;
  margin-top: 40px;
}
.wrapper .project-list .project-item .red-link {
  margin-top: 20px;
  display: block;
  font-size: 17px;
  text-decoration: none;
  border-bottom: 1px dotted;
  line-height: 1;
  display: inline-block;
}
.wrapper .project-list .project-item .red-link:hover {
  border-bottom: none;
}
@media (max-width: 767px) {
  .wrapper .project-list .project-item .red-link {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
  }
}
.wrapper .service-block {
  letter-spacing: -0.3em;
  padding: 20px 0;
}
@media (max-width: 767px) {
  .wrapper .service-block {
    padding-top: 0;
  }
}
.wrapper .service-block .service-block-item {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: middle;
  width: 23.7%;
  margin-right: 1.73%;
  text-align: center;
  background-size: cover!important;
  transition-duration: 1s;
}
@media (max-width: 767px) {
  .wrapper .service-block .service-block-item {
    width: 50%;
    margin-right: 0;
  }
}
.wrapper .service-block .service-block-item.main:nth-child(1) {
  background: url('../images/main-service-item-1.png') no-repeat transparent;
}
.wrapper .service-block .service-block-item.main:nth-child(1):hover {
  background: url('../images/main-service-item-hover-1.png') no-repeat transparent;
}
.wrapper .service-block .service-block-item.main:nth-child(2) {
  background: url('../images/main-service-item-2.png') no-repeat transparent;
}
.wrapper .service-block .service-block-item.main:nth-child(2):hover {
  background: url('../images/main-service-item-hover-2.png') no-repeat transparent;
}
.wrapper .service-block .service-block-item.main:nth-child(3) {
  background: url('../images/main-service-item-3.png') no-repeat transparent;
}
.wrapper .service-block .service-block-item.main:nth-child(3):hover {
  background: url('../images/main-service-item-hover-3.png') no-repeat transparent;
}
.wrapper .service-block .service-block-item.main:last-child {
  background: url('../images/main-service-item-4.png') no-repeat transparent;
  margin-right: 0;
}
.wrapper .service-block .service-block-item.main:last-child:hover {
  background: url('../images/main-service-item-hover-4.png') no-repeat transparent;
}
.wrapper .service-block .service-block-item a {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20% 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper .service-block .service-block-item a {
    font-size: 14px;
    padding: 13% 0;
  }
}
@media (max-width: 767px) {
  .wrapper .service-block .service-block-item a {
    font-size: 13px;
    padding: 10% 0;
  }
}
.wrapper .service-block .service-block-item a:hover {
  text-decoration: none;
}
.wrapper .service-block .service-block-item a div {
  height: 80px;
  background-position: center!important;
  margin-bottom: 15px;
}
.wrapper .textpage {
  padding: 0 15% 0 20px;
  font-size: 17px;
  margin-bottom: 100px;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper .textpage {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .wrapper .textpage {
    padding: 0 16px;
    font-size: 14px;
  }
}
.wrapper .textpage .float-menu {
  width: 270px;
  margin: 0 40px 30px 0;
  float: left;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper .textpage .float-menu {
    float: none;
  }
}
@media (max-width: 767px) {
  .wrapper .textpage .float-menu {
    margin: 0 0 20px 0;
    float: none;
  }
}
.wrapper .textpage .float-menu .title {
  color: #4a4748;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
}
.wrapper .textpage .float-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.wrapper .textpage .float-menu ul li {
  border-bottom: 1px solid #e2e1e1;
  margin-bottom: 0;
  padding-left: 0;
}
.wrapper .textpage .float-menu ul li:before {
  display: none;
}
.wrapper .textpage .float-menu ul li:last-child {
  border-bottom: none;
}
.wrapper .textpage .float-menu ul li a {
  text-transform: uppercase;
  font-weight: 600;
  color: #4a4748;
  display: block;
  font-size: 12px;
  padding: 9px 0 7px;
}
.wrapper .textpage .float-menu ul li a:hover,
.wrapper .textpage .float-menu ul li a:focus {
  outline: none;
  color: #cd3050;
  text-decoration: none;
}
.wrapper .textpage .float-menu ul li a i {
  margin-left: 5px;
}
.wrapper .textpage .float-menu ul li.active a {
  font-weight: 400;
  color: #cd3050;
}
.wrapper .textpage .float-menu ul li ul {
  display: none;
  padding-left: 10px;
}
.wrapper .textpage .float-menu ul li ul li {
  border-bottom: 0;
}
.wrapper .textpage .float-menu ul li ul li a {
  text-transform: none;
  color: #4a4748!important;
}
.wrapper .textpage .float-menu ul li ul li a:hover,
.wrapper .textpage .float-menu ul li ul li a:focus {
  outline: none;
  color: #cd3050!important;
  text-decoration: none;
}
.wrapper .textpage .float-menu ul li ul li.active a {
  font-weight: 400;
  color: #cd3050!important;
}
.wrapper .textpage div.lead {
  font-size: 22px;
  font-weight: 300;
  color: #4a4748;
  margin-bottom: 40px;
  line-height: 32px;
}
@media (max-width: 767px) {
  .wrapper .textpage div.lead {
    font-size: 16px;
    line-height: 26px;
  }
}
.wrapper .textpage ul {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
}
@media (max-width: 767px) {
  .wrapper .textpage ul {
    margin-bottom: 14px;
  }
}
.wrapper .textpage ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .wrapper .textpage ul li {
    margin-bottom: 10px;
  }
}
.wrapper .textpage ul li:before {
  content: '';
  width: 20px;
  border-bottom: 2px solid #4a4748;
  position: absolute;
  left: 0;
  top: 12px;
}
.wrapper .textpage p {
  margin-bottom: 28px;
}
.wrapper .textpage p.title-p {
  margin-bottom: 18px;
}
@media (max-width: 767px) {
  .wrapper .textpage p.title-p {
    margin-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .wrapper .textpage p {
    margin-bottom: 22px;
  }
}
.wrapper .textpage h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 30px;
  display: block;
}
@media (max-width: 767px) {
  .wrapper .textpage h2 {
    font-size: 20px;
  }
}
.wrapper .textpage .panel-group {
  margin-bottom: 25px;
}
.wrapper .textpage .panel-group .panel {
  border: 2px solid #dbdada;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 10px;
}
.wrapper .textpage .panel-group .panel.panel-active {
  border-color: #cd3050;
}
.wrapper .textpage .panel-group .panel.panel-active .panel-heading a {
  color: #cd3050;
  font-weight: 700;
}
.wrapper .textpage .panel-group .panel.panel-active .panel-heading a span {
  margin-top: -18px;
}
.wrapper .textpage .panel-group .panel .panel-heading {
  background: transparent;
  border-bottom: none;
}
.wrapper .textpage .panel-group .panel .panel-heading a {
  display: block;
  font-size: 22px;
  font-weight: 600;
  padding: 28px 15px;
  position: relative;
}
@media (max-width: 767px) {
  .wrapper .textpage .panel-group .panel .panel-heading a {
    padding: 5px 0;
    font-size: 14px;
  }
}
.wrapper .textpage .panel-group .panel .panel-heading a:hover,
.wrapper .textpage .panel-group .panel .panel-heading a:focus {
  text-decoration: none;
  outline: none;
  color: #cd3050;
}
.wrapper .textpage .panel-group .panel .panel-heading a span {
  position: absolute;
  right: 0;
  font-size: 30px;
  top: 50%;
  margin-top: -16px;
}
@media (max-width: 767px) {
  .wrapper .textpage .panel-group .panel .panel-heading a span {
    font-size: 20px;
    margin-top: -11px;
  }
}
.wrapper .textpage .panel-group .panel .panel-body {
  border-top: none;
  padding: 0 30px 30px 30px;
}
@media (max-width: 767px) {
  .wrapper .textpage .panel-group .panel .panel-body {
    padding: 0 15px 15px;
  }
}
.wrapper .textpage .text-with-img-block {
  padding: 40px 30px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper .textpage .text-with-img-block {
    padding: 20px 16px;
  }
}
.wrapper .textpage .text-with-img-block .text-block {
  width: 100%;
  padding-left: 0;
}
.wrapper .textpage .text-with-img-block .text-block .text-block-title {
  color: #cd3050;
}
.wrapper .textpage .text-with-img-block .red-link img {
  margin-right: 10px;
}
.wrapper .textpage table {
  width: 100%;
}
.wrapper .textpage table tr:hover td {
  color: #cd3050;
}
.wrapper .textpage table tr:hover td .gray-btn {
  border-color: #cd3050;
  background: #cd3050;
  color: #fff;
  opacity: 1;
}
.wrapper .textpage table tr td {
  border-top: 1px solid #e0dfdf;
  border-bottom: 1px solid #e0dfdf;
  padding: 20px 0;
}
.wrapper .textpage table tr td span {
  opacity: 0.4;
}
.wrapper .textpage table tr td .gray-btn {
  opacity: .2;
}
.wrapper .textpage table tr td .gray-btn:hover {
  border-color: #cd3050;
  background: #cd3050;
  color: #fff;
  opacity: 1;
}
.wrapper .textpage table tr td .mob-download {
  color: #4a4748;
  text-decoration: none;
}
.wrapper .textpage table tr td .mob-download:hover {
  color: #4a4748;
  text-decoration: none;
}
.wrapper .icon-block {
  text-align: center;
}
.wrapper .icon-block .icon-block-item {
  width: 20%;
  display: inline-block;
  margin: 0 2%;
}
@media (max-width: 767px) {
  .wrapper .icon-block .icon-block-item {
    width: 45%;
    margin-bottom: 20px;
  }
}
.wrapper .icon-block .icon-block-item .icon-block-item-img {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 15px;
}
@media (max-width: 767px) {
  .wrapper .icon-block .icon-block-item .icon-block-item-img {
    width: 100px;
    height: 100px;
  }
}
.wrapper .icon-block .icon-block-item .icon-block-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper .icon-block .icon-block-item .icon-block-item-title {
  color: #4a4748;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
.wrapper .icon-block .icon-block-item .icon-block-item-quote {
  font-size: 12px;
  opacity: .4;
}
.wrapper .block-with-quote {
  letter-spacing: -0.3em;
  margin: 20px 0;
}
.wrapper .block-with-quote > div {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: middle;
}
.wrapper .block-with-quote .block-with-quote-left {
  width: 140px;
  text-align: center;
}
@media (max-width: 767px) {
  .wrapper .block-with-quote .block-with-quote-left {
    width: 100%;
    display: table-footer-group;
  }
}
.wrapper .block-with-quote .block-with-quote-left .quote-left-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper .block-with-quote .block-with-quote-left .quote-left-img {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 15px;
  }
}
.wrapper .block-with-quote .block-with-quote-left .quote-left-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .wrapper .block-with-quote .block-with-quote-left .quote-left-desc {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);
    margin-top: 15px;
    text-align: left;
    padding-left: 16px;
  }
}
.wrapper .block-with-quote .block-with-quote-left .quote-left-text {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
.wrapper .block-with-quote .block-with-quote-left .quote-left-quote {
  opacity: 0.4;
  font-size: 12px;
}
.wrapper .block-with-quote .block-with-quote-right {
  font-style: italic;
  line-height: 1.5;
  color: #4a4748;
  width: calc(100% - 140px);
  padding-left: 60px;
}
@media (max-width: 767px) {
  .wrapper .block-with-quote .block-with-quote-right {
    width: 100%;
    display: table-header-group;
    padding-left: 0;
  }
}
.wrapper .gallery-block {
  border: 2px solid #e0dfdf;
  padding: 35px;
  letter-spacing: -0.3em;
  /** Stage container **/
}
@media (max-width: 767px) {
  .wrapper .gallery-block {
    border: none;
    padding: 0;
  }
}
.wrapper .gallery-block .gallery-block-left,
.wrapper .gallery-block .gallery-block-right {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}
.wrapper .gallery-block .gallery-block-left {
  width: 70%;
}
@media (max-width: 767px) {
  .wrapper .gallery-block .gallery-block-left {
    width: 100%;
    margin-bottom: 10px;
  }
}
.wrapper .gallery-block .gallery-block-right {
  width: 30%;
  padding-left: 3.4%;
}
@media (max-width: 767px) {
  .wrapper .gallery-block .gallery-block-right {
    width: 100%;
    padding-left: 0;
  }
}
.wrapper .gallery-block .gallery-block-right .carousel-navigation-block {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.wrapper .gallery-block .gallery-block-right .carousel-navigation-block span {
  opacity: .4;
}
@media (max-width: 767px) {
  .wrapper .gallery-block .gallery-block-right .carousel-navigation-block {
    border-bottom: 1px solid #e1e0e0;
    padding-bottom: 10px;
    font-size: 14px;
  }
}
.wrapper .gallery-block .gallery-block-right .carousel-text {
  opacity: 0.4;
  font-size: 14px;
  line-height: 1.4;
  color: #4a4748;
}
.wrapper .gallery-block .connected-carousels .stage {
  width: 100%;
  position: relative;
}
.wrapper .gallery-block .connected-carousels .photo-credits {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 13px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  opacity: .66;
}
.wrapper .gallery-block .connected-carousels .photo-credits a {
  color: #fff;
}
.wrapper .gallery-block .connected-carousels .navigation {
  width: 100%;
  margin: 5px auto 0;
  position: relative;
}
.wrapper .gallery-block .connected-carousels .carousel {
  overflow: hidden;
  position: relative;
}
.wrapper .gallery-block .connected-carousels .carousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrapper .gallery-block .connected-carousels .carousel ul li {
  float: left;
  padding-left: 0;
  margin-bottom: 0;
}
.wrapper .gallery-block .connected-carousels .carousel ul li:before {
  display: none;
}
.wrapper .gallery-block .connected-carousels .carousel ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper .gallery-block .connected-carousels .carousel-stage {
  height: 440px;
}
@media (max-width: 767px) {
  .wrapper .gallery-block .connected-carousels .carousel-stage {
    height: 200px;
  }
}
.wrapper .gallery-block .connected-carousels .carousel-stage ul li {
  height: 440px;
}
@media (max-width: 767px) {
  .wrapper .gallery-block .connected-carousels .carousel-stage ul li {
    height: 200px;
  }
}
.wrapper .gallery-block .connected-carousels .carousel-navigation {
  width: 100%;
}
.wrapper .gallery-block .connected-carousels .carousel-navigation li {
  cursor: pointer;
}
.wrapper .gallery-block .connected-carousels .carousel-navigation li img {
  display: block;
  border: 5px solid #fff;
  opacity: 0.5;
}
.wrapper .gallery-block .connected-carousels .carousel-navigation li.active img {
  opacity: 1;
}
.wrapper .gallery-block .connected-carousels .carousel-navigation li:hover img {
  opacity: 1;
}
.wrapper .gallery-block .connected-carousels .prev-stage,
.wrapper .gallery-block .connected-carousels .next-stage {
  display: block;
  position: absolute;
  top: 0;
  width: 305px;
  height: 410px;
  color: #fff;
}
.wrapper .gallery-block .connected-carousels .prev-stage.inactive,
.wrapper .gallery-block .connected-carousels .next-stage.inactive {
  display: none;
}
.wrapper .gallery-block .connected-carousels .prev-stage span,
.wrapper .gallery-block .connected-carousels .next-stage span {
  display: none;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
}
.wrapper .gallery-block .connected-carousels .prev-stage:hover span,
.wrapper .gallery-block .connected-carousels .next-stage:hover span {
  display: block;
}
.wrapper .gallery-block .connected-carousels .prev-stage {
  left: 0;
}
.wrapper .gallery-block .connected-carousels .prev-stage span {
  left: 20px;
}
.wrapper .gallery-block .connected-carousels .next-stage {
  right: 0;
}
.wrapper .gallery-block .connected-carousels .next-stage span {
  right: 20px;
}
.wrapper .express-block {
  background: url('../images/arrow-express.png') no-repeat #9e1a33;
  background-position: center;
  padding: 30px;
  letter-spacing: -0.3em;
}
@media (max-width: 767px) {
  .wrapper .express-block {
    margin: 40px 16px 0;
    border-radius: 20px;
    background: #9e1a33;
    text-align: center;
    padding: 20px;
  }
}
.wrapper .express-block > div {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
}
.wrapper .express-block > div a {
  color: #fff;
}
.wrapper .express-block .express-block-big {
  width: 50%;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  line-height: 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper .express-block .express-block-big {
    line-height: 27px;
  }
}
@media (max-width: 767px) {
  .wrapper .express-block .express-block-big {
    width: 100%;
    line-height: 27px;
    font-size: 18px;
  }
}
.wrapper .express-block .express-block-big p {
  letter-spacing: 2px;
}
.wrapper .express-block .express-block-big a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  text-transform: none;
}
.wrapper .express-block .express-block-big a:hover {
  text-decoration: none;
}
.wrapper .express-block .express-block-small {
  width: 25%;
  padding: 0 2%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .wrapper .express-block .express-block-small {
    width: 100%;
    font-size: 18px;
  }
}
.wrapper .express-block .express-block-small .white-full-btn {
  color: #9e1a33;
}
@media (max-width: 767px) {
  .wrapper .express-block .express-block-small .white-full-btn {
    margin-top: 20px;
  }
}
.wrapper .blog-block {
  letter-spacing: -0.3em;
  margin: 60px 0;
}
@media (max-width: 767px) {
  .wrapper .blog-block {
    margin-bottom: 30px;
  }
}
.wrapper .blog-block > div {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: normal;
}
.wrapper .blog-block .blog-part {
  width: 65%;
  letter-spacing: -0.3em;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper .blog-block .blog-part {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .wrapper .blog-block .blog-part {
    width: 100%;
    margin-bottom: 30px;
  }
}
.wrapper .blog-block .blog-part > div {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.wrapper .blog-block .blog-part .blog-part-img {
  width: 180px;
  height: 180px;
}
@media (max-width: 767px) {
  .wrapper .blog-block .blog-part .blog-part-img {
    width: 100%;
    margin-bottom: 17px;
  }
}
.wrapper .blog-block .blog-part .blog-part-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper .blog-block .blog-part .blog-part-description {
  width: calc(100% - 180px);
  padding: 0px 15% 0 5%;
}
@media (max-width: 767px) {
  .wrapper .blog-block .blog-part .blog-part-description {
    width: 100%;
    padding: 0px 16px;
  }
}
.wrapper .blog-block .blog-part .blog-part-description .blog-part-desc-date {
  color: #4a4748;
  opacity: 0.4;
  font-weight: 600;
}
.wrapper .blog-block .blog-part .blog-part-description .blog-part-desc-date a {
  color: #4a4748;
}
.wrapper .blog-block .blog-part .blog-part-description .blog-part-desc-title {
  margin: 15px 0;
}
.wrapper .blog-block .blog-part .blog-part-description .blog-part-desc-title a {
  font-size: 24px;
  line-height: 1.2;
  color: #4a4748;
}
@media (max-width: 767px) {
  .wrapper .blog-block .blog-part .blog-part-description .blog-part-desc-title a {
    font-size: 18px;
  }
}
.wrapper .blog-block .blog-part .blog-part-description .gray-btn {
  margin-right: 6%;
}
.wrapper .blog-block .subscribe-part {
  width: 35%;
  box-sizing: border-box;
  border: 2px solid #ededed;
  padding: 25px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper .blog-block .subscribe-part {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .wrapper .blog-block .subscribe-part {
    width: 100%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 25px 16px;
  }
}
.wrapper .blog-block .subscribe-part .subscribe-part-title {
  font-size: 24px;
  color: #4a4748;
}
@media (max-width: 767px) {
  .wrapper .blog-block .subscribe-part .subscribe-part-title {
    font-size: 18px;
  }
}
.wrapper .blog-block .subscribe-part .subscribe-part-quote {
  opacity: 0.4;
  line-height: 1.4;
  color: #4a4748;
  margin: 5px 0 15px;
}
@media (max-width: 767px) {
  .wrapper .blog-block .subscribe-part .subscribe-part-quote {
    font-size: 12px;
  }
}
.wrapper .blog-block .subscribe-part form {
  position: relative;
}
.wrapper .blog-block .subscribe-part form input[type="text"] {
  border-radius: 100px;
  border: solid 1px #e0dfdf;
  color: #e0dfdf;
  padding: 9px 15px;
  width: 75%;
  font-weight: 600;
}
.wrapper .blog-block .subscribe-part form input[type="text"]:focus {
  outline: none;
  border-color: #4a4748;
}
.wrapper .blog-block .subscribe-part form .red-btn {
  position: absolute;
  right: 0;
}
.wrapper .text-with-img-block {
  background: #f6f6f6;
  padding: 45px 40px;
  letter-spacing: -0.3em;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .wrapper .text-with-img-block {
    padding: 25px 16px;
  }
}
.wrapper .text-with-img-block > div {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  box-sizing: border-box;
}
.wrapper .text-with-img-block .img-block {
  width: 185px;
  height: 250px;
}
.wrapper .text-with-img-block .img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .wrapper .text-with-img-block .img-block {
    margin: 0 auto 20px;
    display: block;
  }
}
.wrapper .text-with-img-block .text-block {
  width: calc(100% - 185px);
  padding-left: 4%;
}
@media (max-width: 767px) {
  .wrapper .text-with-img-block .text-block {
    width: 100%;
  }
}
.wrapper .text-with-img-block .text-block .text-block-title {
  font-size: 24px;
  font-weight: 700;
  color: #4a4748;
}
@media (max-width: 767px) {
  .wrapper .text-with-img-block .text-block .text-block-title {
    font-size: 18px;
  }
}
.wrapper .text-with-img-block .text-block .text-block-text {
  font-weight: 600;
  font-size: 17px;
  color: #4a4748;
  margin: 15px 0;
}
@media (max-width: 767px) {
  .wrapper .text-with-img-block .text-block .text-block-text {
    font-size: 14px;
  }
}
.wrapper .text-with-img-block .text-block .red-link {
  font-size: 17px;
}
@media (max-width: 767px) {
  .wrapper .text-with-img-block .text-block .red-link {
    font-size: 14px;
  }
}
.wrapper .object-block-list {
  padding: 0 15% 0 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper .object-block-list {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .wrapper .object-block-list {
    padding: 0 16px;
  }
}
.wrapper .object-block-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  margin-bottom: 65px;
}
@media (max-width: 767px) {
  .wrapper .object-block-list ul {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
.wrapper .object-block-list ul li a {
  font-size: 17px;
  line-height: 1.5;
  color: #4a4748;
  font-weight: 600;
  display: block;
  padding: 5px 0;
}
@media (max-width: 767px) {
  .wrapper .object-block-list ul li a {
    font-size: 14px;
  }
}
.wrapper .object-block-list ul li a:hover,
.wrapper .object-block-list ul li a:focus {
  background: none;
  outline: none;
  color: #cd3050;
  text-decoration: none;
}
.wrapper .object-block {
  margin-bottom: 50px;
}
.wrapper .object-block .object-block-title {
  font-size: 48px;
  color: #4a4748;
  font-weight: 600;
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper .object-block .object-block-title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .wrapper .object-block .object-block-title {
    font-size: 18px;
    text-align: center;
  }
}
.wrapper .object-block .object-block-title span {
  font-size: 72px;
  color: #cd3050;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper .object-block .object-block-title span {
    font-size: 64px;
  }
}
@media (max-width: 767px) {
  .wrapper .object-block .object-block-title span {
    font-size: 48px;
    display: block;
  }
}
@media (max-width: 767px) {
  .wrapper .object-block .object-block-carousel {
    padding: 0 16px;
  }
}
.wrapper .object-block .object-block-carousel ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.wrapper .object-block .object-block-carousel ul li {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  height: 100px;
  box-sizing: border-box;
  border: 2px solid #efefef;
  margin-right: 32px;
  background-position: center!important;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper .object-block .object-block-carousel ul li {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 767px) {
  .wrapper .object-block .object-block-carousel ul li {
    width: 47%;
    margin-right: 3%!important;
    margin-bottom: 10px;
  }
  .wrapper .object-block .object-block-carousel ul li:nth-child(2n) {
    margin-right: 0!important;
  }
}
.wrapper .object-block .object-block-carousel ul li:nth-child(6n) {
  margin-right: 0;
}
.wrapper .object-block.full {
  padding: 20px 15% 0 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper .object-block.full {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .wrapper .object-block.full {
    padding: 0;
  }
}
.wrapper .object-block.full .object-block-carousel ul li {
  margin-bottom: 30px;
  margin-right: 2%;
  /*                        &:nth-child(5n) {
                                                    margin-right: 0;
                                                    @media @mob {
                                                        margin-right: inherit;
                                                    }
                                                }
                                                &:nth-child(6n) {
                                                    margin-right: 32px;
                                                    @media @mob {
                                                        margin-right: inherit;
                                                    }
                                                }*/
}
@media (max-width: 767px) {
  .wrapper .object-block.full .object-block-carousel ul li {
    margin-bottom: 13px;
  }
}
.wrapper .reviews-page {
  padding: 0 20px;
}
@media (max-width: 767px) {
  .wrapper .reviews-page {
    padding: 0 16px;
  }
  .wrapper .reviews-page .text-with-img-block {
    margin-bottom: 20px;
  }
}
/* Wrapper end */
/* Footer start */
.footer {
  background: #4a4748;
}
.footer .first-line {
  letter-spacing: -0.3em;
  padding: 25px 20px;
}
.footer .first-line > div {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: normal;
}
.footer .first-line .logo {
  margin-right: 4%;
}
@media (max-width: 767px) {
  .footer .first-line .logo {
    width: 100%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }
}
.footer .first-line .phone {
  margin-right: 4%;
}
@media (max-width: 767px) {
  .footer .first-line .phone {
    width: 100%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }
}
.footer .first-line .phone a {
  color: #fff;
  display: block;
  font-weight: 600;
}
@media (max-width: 767px) {
  .footer .first-line .phone a {
    font-size: 16px;
  }
  .footer .first-line .phone a:first-child {
    letter-spacing: 0.6px;
  }
}
.footer .first-line .post {
  margin-right: 4%;
}
@media (max-width: 767px) {
  .footer .first-line .post {
    width: 100%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }
}
.footer .first-line .post a {
  color: #fff;
  display: block;
  font-weight: 600;
}
@media (max-width: 767px) {
  .footer .first-line .post a {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .footer .first-line .send {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}
.footer .first-line .social {
  width: 45%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .footer .first-line .social {
    width: 22%;
  }
}
@media (max-width: 767px) {
  .footer .first-line .social {
    width: 100%;
    margin-right: 0;
    text-align: center;
    border-top: 1px solid #676465;
    border-bottom: 1px solid #676465;
    padding: 20px 0;
  }
}
.footer .first-line .social a {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  margin: 0 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .footer .first-line .social a {
    margin: 0 3px;
  }
}
.footer .first-line .social a.vk {
  background: #507299;
}
.footer .first-line .social a.fb {
  background: #3b5998;
}
.footer .first-line .social a.tw {
  background: #1da1f2;
}
.footer .second-line {
  letter-spacing: -0.3em;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .footer .second-line {
    margin-bottom: 10px;
  }
}
.footer .second-line > div {
  padding: 25px 0;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 50%;
  opacity: 0.4;
  color: #fff;
  font-weight: 600;
  border-top: 1px solid #666364;
}
@media (max-width: 767px) {
  .footer .second-line > div {
    width: 100%;
    border-top: none;
    text-align: center;
    padding: 0 10px 10px 10px;
  }
  .footer .second-line > div:first-child:after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background: #666364;
    margin: 10px auto 0;
  }
}
.footer .second-line > div a {
  color: #fff;
}
/* Footer end */
/* Modals start */
/* Modals end */
/*# sourceMappingURL=main.css.map */